@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: "Montserrat", sans-serif !important;
}

@keyframes rotate-device {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}

.animate-rotate-device {
    animation: rotate-device 1.5s ease-in-out infinite alternate;
}
